<div style="display: flex; justify-content: space-between; padding: 24px;">
  <a mat-button color="primary" [title]="'Go to home.'" [routerLink]="['/']">Medium2JSON</a>
  <a mat-stroked-button matBadge="{{ numberOfItems }}" color="accent" [title]="'Go to collection.'" [routerLink]="['/collection']">Collection</a>
</div>
<div style="margin: auto; max-width: 400px;">
  <p style="text-align: center;">This is a live demo of the <a mat-button color="warn" href="https://www.npmjs.com/package/medium2json" target="_blank" style="padding: 0;">medium2json</a> package.</p>
  <div style="position: fixed; bottom: 0; right: 0; margin: auto 24px 24px auto;">
    <button mat-icon-button color="warn" (click)="openDialog()">
      <mat-icon style="transform: scale(2);">help</mat-icon>
    </button>
  </div>
  <router-outlet></router-outlet>
</div>
